<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h3>Please login to continue</h3>
        <mat-input-container class="full-width-input">
          <input matInput placeholder="Username"
                 formControlName="userName" required>
          <mat-error *ngIf="isFieldInvalid('userName')">
            Please inform your user name. Minimum 5 symbol.
          </mat-error>
        </mat-input-container>
        <mat-input-container class="full-width-input">
          <input matInput type="password" placeholder="Password"
                 formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('password')">
            Please inform your password. Minimum 5 symbol.
          </mat-error>
        </mat-input-container>
        <button mat-raised-button color="primary" type="submit">Login</button>

      </form>
      <br>
      <div>
        <a class="small-text" [routerLink]="'/reg'">Doesn't have account? Registration.</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>

