<div *ngIf="baseDataIsLoaded">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>VDS</mat-card-title>
            <mat-card-subtitle>ID: {{vds.id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Activated date: {{vds.activatedDate}}</p>
            <p>Deactivated date: {{vds.deactivatedDate}}</p>
            <p>IP: {{vds.ip}}</p>
            <p>Login: {{vds.login}}</p>
            <p>Password: {{vds.password}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="navToVdsList()">Back to VDS list</button>
        </mat-card-actions>
    </mat-card>
</div>
<div *ngIf="socialDtaIdLoaded">
    <mat-tab-group>
        <div *ngFor="let acc of accounts">
            <mat-tab label={{acc.name}}>
                <p>
                    ID: {{acc.id}}
                    <button class="material-icons" (click)="copyToClipboard(acc.id)">content_copy</button>
                </p>
                <p>
                    Login: {{acc.login}}
                    <button class="material-icons" (click)="copyToClipboard(acc.login)">content_copy</button>
                </p>
                <p>
                    Password: {{acc.password}}
                    <button class="material-icons" (click)="copyToClipboard(acc.password)">content_copy</button>
                </p>
                <p>
                    Notes: {{acc.notes}}
                    <button class="material-icons" (click)="copyToClipboard(acc.notes)">content_copy</button>
                </p>
            </mat-tab>
        </div>
    </mat-tab-group>
</div>