<h1 mat-dialog-title>Add social account</h1>
<mat-dialog-content>
    <mat-form-field>
        <mat-select placeholder="Social Type" [(ngModel)]="data.socialType">
            <mat-option value="YouTube">YouTube</mat-option>
            <mat-option value="Twitter">Twitter</mat-option>
            <mat-option value="Instagram">Instagram</mat-option>
            <mat-option value="VK">VK</mat-option>
            <mat-option value="OK">OK</mat-option>
            <mat-option value="Facebook">Facebook</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Status" [(ngModel)]="data.status">
            <mat-option value="Active">Active</mat-option>
            <mat-option value="Temporarily Ban">Temporarily Ban</mat-option>
            <mat-option value="Eternal Ban">Eternal Ban</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="data.regDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput [(ngModel)]="data.login" placeholder="Login">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="data.password" placeholder="Password">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="data.phone" placeholder="Phone">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" style="width: 100%;">
        <textarea matInput [(ngModel)]="data.notes" placeholder="Any Nones"></textarea>
    </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>