<mat-accordion>
    <mat-expansion-panel (opened)="filterOpenState = true" (closed)="filterOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Filters
            </mat-panel-title>
            <mat-panel-description>
                You can use filters for select by VDS's parameters. Click for open.
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="filter">
            <form [formGroup]="filterForm">
                <mat-form-field>
                    <input matInput placeholder="ID" id="id" formControlName="id">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="IP" id="ip" formControlName="ip">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Login" id="login" formControlName="login">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Password" id="password" formControlName="password">
                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="picker1" placeholder="Range From" id="dateFrom" formControlName="dateFrom">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="picker2" placeholder="Range To" id="dateTo" formControlName="dateTo">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <div class="in-row">
                    <section class="example-section">
                        <mat-radio-group formControlName="dateBy">
                            <mat-radio-button class="example-margin" value="deactivatedDate">
                                Deactivated Date
                            </mat-radio-button>
                            <br>
                            <mat-radio-button class="example-margin" value="activatedDate">
                                Activated Date
                            </mat-radio-button>
                        </mat-radio-group>
                    </section>
                    <br>
                    <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
                    <button mat-raised-button color="accent" (click)="disableFilter()">Clear</button>
                </div>
                <br>
            </form>
        </div>

    </mat-expansion-panel>
</mat-accordion>

<div *ngIf="dataIsLoaded">
    <button mat-raised-button (click)="addVds()" color="primary">Add VDS</button>
    <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.id}}
                    <button class="material-icons" (click)="copyToClipboard(element.id)">content_copy</button>
                </mat-cell>
            </ng-container>

            <!-- IP Column -->
            <ng-container matColumnDef="ip">
                <mat-header-cell *matHeaderCellDef> IP </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.ip}}
                </mat-cell>
            </ng-container>

            <!-- Username Column -->
            <ng-container matColumnDef="login">
                <mat-header-cell *matHeaderCellDef>Login</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.login}}
                </mat-cell>
            </ng-container>

            <!-- Password Column -->
            <ng-container matColumnDef="password">
                <mat-header-cell *matHeaderCellDef> Password </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.password}}
                </mat-cell>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="startDate">
                <mat-header-cell *matHeaderCellDef> Activated Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.activatedDate | date: 'dd.MM.yyyy'}} </mat-cell>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="endDate">
                <mat-header-cell *matHeaderCellDef> Deactivated Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.deactivatedDate | date: 'dd.MM.yyyy'}} </mat-cell>
            </ng-container>

            <!-- Detail button -->
            <ng-container matColumnDef="detail">
                <mat-header-cell [ngClass]="'ditailBtnCol'" *matHeaderCellDef></mat-header-cell>
                <mat-cell [ngClass]="'ditailBtnCol'" *matCellDef="let element">
                    <button mat-raised-button color="primary" (click)="getDetail(element.id)">Detail</button>
                </mat-cell>
            </ng-container>

            <!-- Delete button -->
            <ng-container matColumnDef="delete">
                <mat-header-cell [ngClass]="'ditailBtnCol'" *matHeaderCellDef></mat-header-cell>
                <mat-cell [ngClass]="'ditailBtnCol'" *matCellDef="let element">
                    <button mat-raised-button color="warn" (click)="openDialogDeleteVds(element.id)">Delete</button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSize]="15" [pageSizeOptions]="[15, 30, 50, 100]" [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
</div>