<h4 class="text-center">VDSs</h4>

<div class="filter">
  <form [formGroup]="filterForm">
    <mat-form-field>
      <input matInput placeholder="ID" id="id" formControlName="id">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="IP" id="ip" formControlName="ip">
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="From" id="dateFrom" formControlName="dateFrom">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="To" id="dateTo" formControlName="dateTo">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <div class="in-row">

      <section class="example-section">
        <mat-radio-group formControlName="byActivate">
          <mat-radio-button class="example-margin" value="activate">
            Activate
          </mat-radio-button>
          <mat-radio-button class="example-margin" value="deactivate">
            Deactivate
          </mat-radio-button>
        </mat-radio-group>
      </section>

      <button mat-fab color="primary" (click)="applyFilter()">Apply</button>
      <button mat-fab color="accent" (click)="disableFilter()">Off</button>
    </div>
    <br>
  </form>
</div>

<div *ngIf="dataIsLoaded">
  <div class="example-container mat-elevation-z8">

    <mat-table #table [dataSource]="dataSource">


      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <!-- IP Column -->
      <ng-container matColumnDef="ip">
        <mat-header-cell *matHeaderCellDef> IP </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ip}} </mat-cell>
      </ng-container>

      <!-- Password Column -->
      <ng-container matColumnDef="password">
        <mat-header-cell *matHeaderCellDef> Password </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.password}} </mat-cell>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.activatedDate}} </mat-cell>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef> End Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.deactivatedDate}} </mat-cell>
      </ng-container>

      <!-- Detail button -->
      <ng-container matColumnDef="detail">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="getDetail(element.id)">Detail</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
  </div>
</div>

